* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra Lateral */

.sidebar {
    width: 280px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    position: fixed;
    height: 100vh;
    overflow-y: auto;

}

.sidebar-header {
    padding: 30px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

.sidebar-header h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    
}

.sidebar-header p {
    font-size: 14px;
    opacity: 0.8;
}

.sidebar-header h1 i {
   padding-right: 5px;
}

.sidebar-nav {
    padding: 20px 0;
}

.nav-item {
    display: block;
    padding: 15px 25px;
    color: rgba(255, 255, 255, 255, 0.8);
    text-decoration: none;
    transition: all 0.3s ease;
    border-left: 4px solid transparent;
    cursor: pointer;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    transform: translateX(5px);
}

.nav-item.active {
    background-color: rgba(255,255,255,0.15);
    color: white;
    border-left-color: #ffd700;
}

.nav-item .icon {
    margin-right: 12px;
    font-size: 18px;
}

.sidebar-footer {
    position: absolute;
    bottom: 20px;
    left: 25px;
    right: 25px;
    background-color: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.sidebar-footer h3 {
    font-size: 14px;
    margin-bottom: 5px;
    opacity: 0.8;
}

.sidebar-footer .ammount {
    font-size: 22px;
    font-weight: 700;
    color: #4ade80;
}